# Arquivos de Dados e Configuração
backend/.env
frontend/js/config.js
backend/database/database.sqlite
backend/vendor/
node_modules/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos do IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de Log
*.log
